{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="page-header">
      <h1>Your dashboard</h1>
      <p class="lead">Lists scheduled tasks and tasks which could be launched.</p>
    </div>
    <h2>To launch</h2>
    <table class="table">
      <tr>
        <th>Task</th>
        <th>Description</th>
        <th>&nbsp;</th>
      </tr>
      {% for template in dashboard.templates %}
      <tr>
        <td>{{ template.title }}</td>
        <td>{{ template.description }}</td>
        <td>
          <a href="{{ path('task_new', {'templateId': template.id}) }}" class="btn btn-default">run</a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <h2>Your current tasks</h2>
    <table class="table">
      <tr>
        <th>Task</th>
        <th>Done, %</th>
        <th>State</th>
      </tr>
      {% for task in dashboard.tasks %}
        <tr>
          <td>
            <a href="{{ path('task_details', {'id': task.id}) }}">{{ task.title }}</a>
          </td>
          <td>{{ task.progress }}</td>
          <td>{{ task.state }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
