{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="page-header">
      <h1>Run information of: {{ task.title }}</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="{{ path('dashboard') }}">Back to dashboard</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">Percent complete:</div>
      <div class="col-md-3">{{ task.progress|number_format(1) }}</div>
    </div>
    <div class="row">
      <div class="col-md-3">State</div>
      <div class="col-md-3">{{ task.state }}</div>
    </div>
    {% if task.result is not empty %}
    <h3>Run result</h3>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Result</th>
      </tr>
      {% for name, result in task.result %}
      <tr>
        <td>{{ name }}</td>
        <td>{{ result }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
