{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="page-header">
      <h1>Run new task: {{ template.title }}</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="{{ path('dashboard') }}">Back to dashboard</a>
      </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
